# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/mcp.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
__screenshots__/

# System files
.DS_Store
Thumbs.db

# Bruno - 04/06/2026
# OpenAI
.env

# Dados do agente
dados-agente/entrada/*.csv
dados-agente/historico/*.json

# Relatórios gerados pelo agente
dados-agente/relatorios/*.csv
dados-agente/relatorios/*.txt

# Logs futuros
dados-agente/logs/*.log

# erros e arquivos temporários
dados-agente/erros/

# Saídas geradas pelo agente V3/V4/V5
dados-agente/saida/

# PDFs gerados localmente
*.pdf

dados-agente/entrada/*
!dados-agente/entrada/.gitkeep

dados-agente/historico/*
!dados-agente/historico/.gitkeep

dados-agente/relatorios/*
!dados-agente/relatorios/.gitkeep

dados-agente/saida/*
!dados-agente/saida/.gitkeep

dados-agente/logs/*
!dados-agente/logs/.gitkeep

# Saídas geradas pelo agente
dados-agente/saida/*

# Mantém apenas a estrutura da pasta
!dados-agente/saida/.gitkeep

# PDFs locais
*.pdfgit rm -r --cached dados-agente/saida

git rm --cached "dashboard de produtos disponíveis.pdf"

# 12/06/2026 minha cola de deploy no git e GH pages
COLA_DEPLOY_LOCAL.md